.card-exchange {
  background-color: white;
  border-radius: 8px;
  height: 100%;
  padding: 30px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.container-input-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container-values {
  width: 50%;
  padding-bottom: 100px;
}

.container-card {
  width: 50%;
}

.container-values-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 50px;
}

.values {
  font-size: 32px;
  font-weight: 600;
}

.base-values {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}

.div-input,
.div-select {
  width: 25%;
}

.div-button {
  width: 10%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .container-values {
    width: 100%;
  }

  .container-card {
    display: none;
  }

  .container-input-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  .div-input,
  .div-select {
    width: 100%;
  }

  .div-button {
    margin-top: 16px;
    width: 100%;
    justify-content: flex-start;
  }

  .container-values-info {
    padding-top: 0;
  }
  .container-values {
    padding-bottom: 0;
  }
}
