.button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #177fe5;
  background-color: white;
  cursor: pointer;
}

.rotate-center {
  animation: rotate-center 0.4s;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
